<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header>
</header>
<main>
    <form action="/login" method="post">
        <div class="login">
            <label>Usuario</label>
            <input type="text" name="nombre-usuario" placeholder="Usuario" id="usuario">  
        </div>
        
        <div>
            <label>Contraseña</label>
            <input type="password" name="contraseña" placeholder="Password" id="Contraseña">
        </div>
        
        <div>
            <button type="submit">Enviar</button> 
        </div>
        
        </form>
</main>
<body>
    
</body>
</html>