* {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

body{
    font-family:'Roboto';
    background-color: #ebebeb;
}

h3 {
    font-size:24px;
}

p {
    font-size:12px;
}

header {
    background-color: #eac926;
}

div .top-header {
    display:flex;
    flex-wrap:wrap;
    padding:5%;
}

.main-header-top-bar {
    display:flex;
    flex-wrap:wrap;
    padding:5%;
    justify-content:space-between;
}

.copy-header {
     display:flex;
     max-width:400px;
    text-align:right;  
}

.burger-menu {
    background-color: #0044AA;
    border-radius:5px;
    color: #FFF;
    font-size:20px;
    height:40px;
    margin:10px 0px 20px 0px;
    padding:10px;
    width:40px;
    text-align:center;   
}

.logo {
    width:50%;
    padding:10px;
}

header nav{
    font-size:12px;
    margin-left:20px;
    color:#222222;
}

header ul li a {
    text-decoration:none;
}

header .form .input {
    background-color: #ebebeb;
    border:1px solid #222222;
    outline: none;
    color: #666;
    padding:2px;
}

header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.copy-header {
    font-weight:400;
    text-align:center;
}

.main-navbar ul {
    list-style:none;
    margin:0;
    padding:0%;
}

.main-navbar a {
    text-decoration:none;
    color: #222222;
    padding:5px 0;
    font-size:18px;
}

.main section article i {
    display: block;
    font-size:16px;
    padding:15px;
    width:30px;
    height:30px;
    border:1px solid #39b54a;
    background-color:#FFF;
    border-radius:50%;
    position:absolute;
    right:20px;
    top: -15px;    
}

main section article:hover {
    box-shadow: 0px 0px 10px rgb (100, 100, 100);
}

main section article:hover .description {
    display:block;
}

article {
   flex-direction:column;
}

img {
    width:50%;
}

div .productos {
    display: block;
    color: #39b54a;
    font-size:16px;
    padding:5%;
    width:30px;
    height:30px;
    border:1px solid #39b54a;
    background-color:#FFF;
    border-radius:50%;
    position:absolute;
}

.productos {
    display:flex;
    flex:wrap;
    flex-direction:column;
    box-shadow:1px solid #666;
    
}

div .productos-box {
    box-shadow:0px 0px 10px rgb (100, 100, 100);
}

.productos img {
    width:50%;
}
 
.price{
    font-size: 18px;
}

.discount{
    width:50%;
    padding:5%;
    font-size:16px;
    font-weight:normal;
}

.description{
    font-size:16px;
    font-weight:500;
    color:#666;
    text-align:end;
}

.description:hover {
    color: #666;
}

#banner {
    width:100%;
}

#banner img {
    width:100%;
}


main {
    width:90%;
}

main select article {
    background-color:#FFF;
}

main select article img {
    width:100%;
}

main section article i,
    .discount {
        color:#39b54a;
    }

.pie-pagina {
    background-color:#FFF;
    color:#666;
    text-align:center;
    display:flex;
}

.icon {
    position:absolute;    
    font-size:16px;
    padding:5px;
    width:30px;
    height:30px;
    border:1px solid #39b54a;
    background-color:#FFF;
    border-radius:50%;
}

.icon {
    transform: rotate(-90deg);
    transition:1ms;
    position:absolute;
    right:50%;
    font-weight:900;
    transform:1s;
}

@media screen and (max-width:769px) {
        
    .main-navbar {
        display:flex;
        justify-content:space-between;
    }

    .copy-header {
        list-style:none;
        padding:10px;
        display:flex;
        justify-content:space-between;    
    }

    .burger-menu {
        text-align:center;
        display:none;
    }
       
    section .productos {
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
    }

    div .productos-box {
        width:20%;
        text-align:center;
        background-color: #ebebeb;
        transition:all 450ms;
        
    }

    div .productos-box {
        box-shadow:0px 0px 10px rgb (100, 100, 100);
    }

    div .productos {
        width:100%;
        text-align:center;
        border-top:1px solid #ebebeb;
        background-color: #FFF;
        display:flex;
        flex-wrap:wrap;
        padding:10px;
    }

    footer {
        background-color:white;
        text-align:center;
        opacity:5;
        display:flex;
    }

    #footer-icon {
        color:#666;
        font-size:2em;
    }

    #footer-icon:hover {
        color: #eac926;
        transition:all 450ms;
    }

    .price {
        width:50%;
        padding:5%;
    }

    .discount {
        width:50%;
        padding:5%;
    }

    .description {
        width:100%;
        padding:5%;
        color:white;
        transition:all 450ms;
    }

    
    .main-navbar ul {
        display:flex;
    }

    .main-navbar li {
        margin:0 15px;
    }

}


.formulario {
    margin-bottom: 15px;
}
.formulario label {
    margin-bottom: 5px;
    font-style: italic;
    display: block;
}

.input {
    width:100%;
    padding: 8px;
}

.formulario-boton {
    border: none;
    font-size: 20px;
    border-radius: 5px;
}




